@import "src/styles/vars";

$logo-size: 2.25rem;

.link {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.logo {
  width: $logo-size;
  height: $logo-size;
  border-radius: 50%;
}

.text {
  font-size: 1.5rem;
  font-weight: 700;
  color: $text-color-main;

  @include tablet {
    font-size: 2rem;
  }
}
