@import "src/styles/vars";

.action {
  display: flex;
  flex-direction: column;
  padding: 0;

  @include tablet {
    flex-direction: row;
  }
}

.price {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  color: $text-color-white;
  background-color: $color-blue;

  span {
    margin-right: 0.5rem;
    font-weight: 700;
  }
}

.button {
  width: 100%;
  border-radius: 0;

  @include tablet {
    width: auto;
    flex-grow: 1;
  }
}
